<script type="text/babel">
    function Page() {
        return (
                <React.Fragment>
                    <MUI.Typography variant="h4">Editar usuário</MUI.Typography>
                    <form action="/users/update/{{data.editUser.id}}" method="post">
                        <MUI.TextField
                                select
                                name="role"
                                label="Perfil"
                                margin="normal"
                                variant="outlined"
                                defaultValue="{{data.editUser.role}}"
                                fullWidth
                                required
                        >
                            <MUI.MenuItem value="" disabled>
                                <em>Selecione o perfil</em>
                            </MUI.MenuItem>
                            <MUI.MenuItem value="{{data.roles.ADMIN}}">Administrador</MUI.MenuItem>
                            <MUI.MenuItem value="{{data.roles.USER}}">Motorista</MUI.MenuItem>
                            <MUI.MenuItem value="{{data.roles.CLIENT}}">Cliente</MUI.MenuItem>
                        </MUI.TextField>

                        <MUI.TextField
                            name="name"
                            label="Nome"
                            margin="normal"
                            variant="outlined"
                            fullWidth
                            required
                            defaultValue="{{data.editUser.name}}"
                            type="string"
                        ></MUI.TextField>

                        <MUI.TextField
                            name="email"
                            label="E-mail"
                            margin="normal"
                            variant="outlined"
                            fullWidth
                            required
                            defaultValue="{{data.editUser.email}}"
                            type="email"
                        ></MUI.TextField>

                        <MUI.Button type="submit" variant="contained" color="primary">Salvar</MUI.Button>
                    </form>
                </React.Fragment>
        )
    }
</script>
